numpy==1.24.2
torch==1.13.1
torchvision==0.14.1
pytorch-lightning==1.9.0
fvcore==0.1.5.post20221221
yacs==0.1.8
matplotlib==3.6.3
opencv-python==4.7.0.68
pandas==1.5.3
nuscenes-devkit==1.1.9
tensorboard==2.11.2
robotcar-dataset-sdk @ git+https://github.com/morbi25/robotcar-dataset-sdk